
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  
}

#footer {
  position: absolute;
  bottom: 30px;
  width: 100vw;
  height: 20px;
  z-index: 200;
}

.hero {
  width: 100%;
  height: var(--hero-height);
}

.caption {
  height: 500px;
  width: 100%;
}

.h-box {
  z-index: 10;
  width:60%;
  height:100%;
  position: absolute;
  left: 20%;
  top: 60%;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: var(--caption-font-size-md);  
  color: rgba(0, 0, 0, 0.9);
}

/* ============== Hero */

.heroTeleport {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
}

.heroTeleport:hover .gg-chevron-down, .gg-chevron-up:hover {
  color: var(--color-dark-purple);
  transform: scale(1.75);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translate(50%, -50%);
    opacity: 100%;
  }
}

canvas {
  width: 100%;
  height: 100%;
  border-radius: var(--canvas-border-outer-radius);

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.canvasContainer {
  background-color: rgba(50,50,93,0.25);
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: var(--canvas-border-outer-radius);
  box-sizing: border-box;


  top: 50%;
  right: 50%;
  animation: 1s ease-out 0s 1 slideInLeft;
  transform: translate(50%, -50%);

  padding: var(--canvas-border-width);
  color: #263e51;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3); 
}
.canvasContainer:hover .nameContent {
  margin-top: -3.5rem;
  color: var(--color-purple);
  transition: all 0.5s ease-out;
}
.canvasContainer:hover .nameContent p {
    opacity: 30%;
    transition: all 0.5s ease-in;
}
.canvasContainer:hover .resume {
  color: var(--color-dark-purple);
  opacity: 100%;
  transition: all 0.5s ease-in;
}

.namePlate * {
  text-align: center;
}

.namePlate {
  background-color: #ffffff;

  z-index: 200;
  position: relative;
  height: 100%;
  border-radius: var(--canvas-border-inner-radius);

  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
}

.nameContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nameContent p {
  margin-top: 0;
  font-size: var(--canvas-font-size);
}

.resume {
  font-size: var(--resume-font-size);
  text-decoration: none;
  opacity: 0;
}





/* ============================================== Contact */
.contact {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.contact-header {
  width:100%;
  height:100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  font-family: 'Montserrrat', sans-serif;
  font-size: var(--caption-font-size-lg);
  color: rgb(238, 238, 238);
}

.contact-links {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--caption-font-size-md);  
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.contact-links * {
  margin: 10px;
}

.contact-links *:hover {
  color: var(--color-dark-purple)
}

.contact-links img {
  width: 40px;
  margin: 0px;
}

.icons {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.icons a {
  margin-top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 70% 50% 30% 10%;
  border: none;
}

.icons a:hover {
  background-color: rgba(113, 60, 200, 0.2); 
  transition: .25s ease-out;
  box-shadow: 0 0 10px 3px rgba(113, 60, 200, 0.2), inset 0 0 0 0 rgb(255 255 255 / 29%);
}


:root {
  --canvas-font-size: 2rem;
  --resume-font-size: 1.5rem;
  --project-heading-font-size: 4rem;
  --caption-font-size-lg: 10rem;
  --caption-font-size-md: 2rem;

  --canvas-border-width: 20px;
  --canvas-border-inner-radius: 10px;
  --canvas-border-outer-radius: 15px;

  --fontFamily: 'Montserrat', sans-serif;
  --color-brown: #E27D60;
  --color-teal: #85DCB0;
  --color-orange: #E8A87C;
  --color-purple: #C38D9E;
  --color-aqua: #41B3A3; 
  --color-dark-purple: #713cc8;

  --num-projects: 3;
  --hero-height: 100vh;
  --ggs: 1.5;
}

@media screen and (max-width: 850px), screen and (max-height: 730px) {
  .skills {
    height: 350vh;
  }
  .skills-header {
    top: 1%;  
  }
  .skills-background {
    height: 50vh;
  }
  .box {
    z-index: 10;
    width: 90vw;
    height: 350vh;

    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 60%), 0 0 0 1px #e6ecf8;
    color: #141c3a;
    display: block;
  }
  .border-right {
    border-right: 0px solid #E6ECF8;
    border-bottom: 1px solid #E6ECF8;
  }
  .contact-links {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 520px) {
  .canvasContainer {
    width: 100px;
    height: 100px;
    padding: 0.8rem;
  }
  .canvasContainer .nameContent {
    margin-top: -1rem;
  }
  .canvasContainer:hover .nameContent {
    margin-top: -6rem;
  }
  .canvasContainer:hover .nameContent p {
    opacity: 0;
    transition: 0.2s ease-out;
  }
  .namePlate {
    padding-top: 3rem;
  }
  .namePlate p {
    font-size: 1rem;
  }
  .resume {
    font-size: 1rem;
  }
  .h-box {
    font-size: 1rem;
    left: 10%;
    width: 80%;
  }
  .k-box {
    font-size: 2.5rem;
    top: 53%;
    right: -105%;
  }

  .contact-links {
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;

  }
  .contact-links img {
    width: 20px;
    margin: 0px;
  }
  .contact-links {
    font-size: var(--caption-font-size-sm);  

  }
  

}

